.login-card {
    width: 100%;
}

mat-card-header {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
}


/* Left side tile*/

.left {
    left: 0;
    background-color: blueviolet;
    bottom: 0;
    top: 0;
}


/* Right side tile*/

.right {
    right: 0;
    background-color: #edf7f0;
    bottom: 0;
    top: 0;
}